<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuu1ui1dTdRKuSJcLV1HHjos4rESVrprM</string>
	<key>GCM_SENDER_ID</key>
	<string>75378441103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miraclemichael.sendafrikamoneyapp</string>
	<key>PROJECT_ID</key>
	<string>sendafrika-fx-7e6e7</string>
	<key>STORAGE_BUCKET</key>
	<string>sendafrika-fx-7e6e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75378441103:ios:635fd94e78178b005269fa</string>
</dict>
</plist>